$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot");
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url("../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'),
  url("../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff'),
  url("../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.locales {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4px;
}

.flag-icon {
  font-size: 18px;
}

md-toolbar {
  min-height: 48px !important;
}
#left-sidenav-toolbar a {
  text-decoration: none;
  color: #fff;
}
#left-sidenav-toolbar a .md-toolbar-tools .md-icon-button {
 margin-right: 9px;
}
#left-sidenav-toolbar a .md-toolbar-tools {
  height: 48px;
}

#left-sidenav-toolbar a:hover {
  text-decoration: none;
  color: #fff;
}
#left-sidenav-toolbar a:focus {
  text-decoration: none;
  color: #fff;
}

.menu-row md-menu button {
  margin-left: -18px !important;
}

.menu-row {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  padding-top: 4px;
  padding-right: 4px;
}

.left-menu-item-list {
}
.left-menu-item-list .md-button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
}

.left-menu-item-list .md-button md-icon {
  position: absolute;
  top: 0;
  left:0;
  font-size: 31px;
  margin: 9px 0 0 12px;
}

.left-menu-item-list .md-button span {
  position: absolute;
  top: 0;
  left:0;
  margin: 8px 0 0 55px;
}