<!doctype html>
<head>
    <meta charset="utf-8">
    <title>angular_core</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="angularCoreApp">
    <div ng-controller="AppCtrl" layout="column" style="height:100%;" ng-cloak>
        <section layout="row" flex>
            <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4"
                md-swipe-left="toggleLeft()">
                <md-toolbar class="md-theme-indigo" id="left-sidenav-toolbar" style="height:48px;">
                    <span class="md-toolbar-tools" layout="row">
                      <md-button class="md-icon-button" hide-gt-md ng-click="toggleLeft()"><i class="material-icons">close</i></md-button>
                      <span style="margin-left: 9px">{{ 'TITLE' | translate }}</span>
                    </span>
                </md-toolbar>
                <md-content ng-controller="LeftCtrl">
                  <div flex ng-click="close()" class="left-menu-item-list">
                    <!-- md-list-item doesnt support ng-class md-primary and md-raised ... so so sad about it -->
                    <md-button ng-click="href('/')" ng-class="{'md-raised md-primary':tab('HomeCtrl')} ">
                        <md-icon class="material-icons">home</md-icon>
                        <span>{{ 'MENU.HOME' | translate }}</span>
                    </md-button>
                    <md-button ng-click="href('contact')" ng-class="{'md-raised md-primary':tab('ContactCtrl')}">
                        <md-icon class="material-icons">info_outline</md-icon>
                        <span>{{ 'MENU.CONTACT' | translate }}</span>
                    </md-button>
                  </div>
                </md-content>
            </md-sidenav>

          <md-content flex md-swipe-right="toggleLeft()" md-swipe-left="toggleRight()" >
            <md-toolbar style="height:48px;">
              <span class="md-toolbar-tools">
                <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md>
                  <i class="material-icons">menu</i>
                </md-button>
                <span ng-controller="RouteCtrl">{{ documentTitle }}</span>
              </span>

              <div class="menu-row">
                <md-menu md-position-mode="target-right target" ng-controller="LocaleCtrl" flex>
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i md-menu-origin class="material-icons">translate</i>
                  </md-button>
                  <md-menu-content width="1" >
                    <!--<md-menu-item ng-repeat="item in [1, 2, 3]">
                      <md-button>
                          <div layout="row" flex>
                            <p flex>Option {{item}}</p>
                            <i md-menu-align-target class="material-icons">tra</i>
                          </div>
                      </md-button>
                    </md-menu-item>-->
                    <md-menu-item>
                      <md-button ng-click="changeLocale('en')" ng-class="locale === 'en' ? 'md-raised md-primary' : 'nic'">
                        <div layout="row" flex>
                          <p flex>ENG</p>
                          <i md-menu-align-target class="flag-icon flag-icon-us"></i>
                        </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="changeLocale('cs')" ng-class="locale === 'cs' ? 'md-raised md-primary' : 'nic'">
                        <div layout="row" flex>
                          <p flex>CZE</p>
                          <i md-menu-align-target class="flag-icon flag-icon-cz"></i>
                        </div>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>

            </md-toolbar>

            <div layout="column" layout-align="top center">
                <div ng-view="" layout-fill></div>
            </div>
            <div flex></div>
          </md-content>
      </section>
  </div>






    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <!-- endbuild -->
</body>
</html>
